.Grid {
    text-align: center;
}

.Grid .options {
    margin: 20px 0px;
    height: 50px;
}
  
.Grid .options .radio {
    display: inline-block;
    margin-right: 20px;
}

.Grid .small-input {
    width: 35px;
    text-align: center;
    font-size: 14px;
}

.Grid .action-btn {
    background-color: #4CAF50;
    color: white;
    height: 50px;
    font-size: 14px;
    border: 2px solid white;
    cursor: pointer;
}

.Grid .action-btn:hover {
    border: 1px solid red;
}

.Grid table {
    margin: 10px auto;

}

.Grid table.windy {
    background-image: url('/img/wind-dreams.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Grid table.editable {
    border: 3px solid orange;
}

.Grid table.converged {
    border: 3px solid blue;
}

.Grid table.working {
    border: 3px solid red;
    animation: borderflash 2s infinite;
}

.Grid td {
    width: 90px;
    height: 90px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 40px;
}

.Grid table.editable td {
    cursor: pointer;
}

.Grid table.editable td.selected {
    background-color: orange !important;
}

.Grid table.editable td:hover {
    background-color: moccasin;
}


.Grid table.policies td {
    font-size: 30px;
}

.Grid td.editable:hover {
    cursor: pointer;
    background-color: bisque;
}

.Grid td.first-col {
    border-left: 1px solid black;
}

.Grid td.last-row {
    border-bottom: 1px solid black;
    
}

.Grid td.current {
    border-width: 2px;
    border-color: blue
}

.Grid td.start {
    background-color: azure;
}

.Grid td.goal {
    background-color: lightgreen;
}

.Grid td.wall {
    background-color: gray;
}

.Grid td.hole {
    background-color: lightcoral;
}

.Grid .status {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}

.Grid #converged {
    color: blue;
    font-size: 30px;
    margin: 0;
    animation: converged-appear 1s;
}

.Grid #working {
    color: red;
    font-size: 30px;
    margin: 0;
    animation: working-fadeinout 1.5s infinite;
}

.Grid #show-logs-btn {
    cursor: pointer;
    width: 100px;
    height: 40px;
    background-color: black;
    color: lightgreen;
    font-size: 16px;
    border: 2px solid red;
    right: 10px;
}

.Grid .table-wrapper {
    position: relative;
    display: inline-block;
    width: 820px;
}

.Grid .table-wrapper .context-menu {
    background-color: #f9f9f9;
    width: 150px;
    height: 193px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    margin: auto 0;
    animation: show-grid-context-menu 0.5s;
}

.Grid .context-menu .item {
    padding: 5px 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.Grid .context-menu .item.start {
    border-top: 1px solid black;
    margin: 0;
}

.Grid .context-menu .item.start:hover {
    background-color: cadetblue;
}
.Grid .context-menu .item.goal:hover {
    background-color: lightgreen;
}
.Grid .context-menu .item.hole:hover {
    background-color: lightcoral;
}
.Grid .context-menu .item.wall:hover {
    background-color: gray;
}
.Grid .context-menu .item.unwall:hover {
    background-color: red;
}
.Grid .context-menu .item.cancel:hover {
    background-color: darkred;
}

@keyframes converged-appear {
    from { opacity: 0; font-size: 10px; }
    to   { opacity: 1; font-size: 30px;}
}

@keyframes show-grid-context-menu {
    from { right: 0px;   opacity: 0; }
    to   { right: 60px;  opacity: 1; }
}

@keyframes working-fadeinout {
    0%, 100% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
}

@keyframes borderflash {
    0%, 100% {
        border: none;
    }
    50% {
        border: 3px solid red;
    }
}