.Grid {
    text-align: center;
    display: inline-block;
}

.Grid .options {
    margin: 20px 0px;
}
  
.Grid .options .radio {
    display: inline-block;
    margin-right: 20px;
}

.Grid #gamma-input {
    width: 30px;
    text-align: center;
}

.Grid table {
    margin-top: 10px;
}

.Grid td {
    width: 90px;
    height: 90px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 40px;
}

.Grid table.policies td {
    font-size: 30px;
}

.Grid td.editable:hover {
    cursor: pointer;
    background-color: bisque;
}

.Grid td.first-col {
    border-left: 1px solid black;
}

.Grid td.last-row {
    border-bottom: 1px solid black;
    
}

.Grid td.current {
    border-width: 2px;
    border-color: blue
}

.Grid td.start {
    background-color: azure;
}

.Grid td.goal {
    background-color: lightgreen;
}

.Grid td.wall {
    background-color: gray;
}

.Grid td.hole {
    background-color: lightcoral;
}